{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">{% if form.instance.pk %}Редактировать пост{% else %}Добавить пост{% endif %}</h2>
        
        <!-- Обязательный атрибут для загрузки файлов -->
        <form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}